name: Release to nuget

on:
  push:
    tags:
      - "vRelease*"
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up .NET Core 6
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.x'
        include-prerelease: false

    - name: Set up .NET Core 7
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.x'
        include-prerelease: false

    - name: Build with dotnet
      run: |
        cd src
        cd RSCG_Utils
        dotnet tool restore
        dotnet r pack

    - name: push to nuget
      run: |
          dotnet nuget push ${{github.workspace}}/src/RSCG_Utils/RSCG_Utils/PACK/*symb*.*pkg --api-key  ${{ secrets.NUGETAPIKEY }} --source https://api.nuget.org/v3/index.json

